/*fonts*/
.header-logo{
    height:100px;
    width: auto; 
}

@media screen and (max-width: 650px) {
    .header-logo{
        height: 90px;
        width: auto;
    }
}

.header-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

@media screen and (max-width: 750px) and (min-width: 550px) {
    .header-font{
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) {
    .header-font{
        font-size: 26px;
    }
}

.secheader-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.normal-text-header{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}

.current-pos{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #00876c;
    padding: 4px;
    font-size: 16px;
}

.normal-text{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
    text-align: left;
}

.nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:#00876c;
}

@media screen and (max-width: 820px) {
    .nav-link{
        font-size: 18px;
    }
}
/*Colors and theme*/
.primary-theme{
    color: white;
    background-color: #00876c;
}

.primary-atn{
    color:#00876c;
    background-color: white;
}

.navbar{
    border-color:#00876c;
}

.team-boxes{
    box-shadow: 10px 10px 5px lightgrey;
}

li{
    margin-bottom:5px;
}

.publication-elements{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 17px;
    padding-left: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.quote{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #00876c;
}

.quote-box{
    border-radius: 25px;
    border: 3px solid #00876c;
}

.index-detail-box{
    background: #00876c;
    color: white;
}

.index-fp-detail-box{
    background: white;
    color: #00876c;
}

.index-designation{
    color:black;
    border-radius: 25px;
}

.research-image-left{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.bottom-right {
    position: absolute;
    right: 30px;
  }

@media screen and (max-width: 600px) {
    .research-image-left{
        height: 120px;
        width: auto;
    }
}

@media screen and (min-width: 600px) {
    .research-image-left{
            height: 200px;
            width: auto;
    }    
}

.research-image-right{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
}

@media screen and (max-width: 600px) {
    .research-image-right{
        height: 120px;
        width: auto;
    }
    .bottom-right{
        top: 135px;
    }
}

@media screen and (min-width: 600px) {
    .research-image-right{
            height: 200px;
            width: auto;
    }
    .bottom-right {
        top: 185px;
    }    
}

.container {
    position: relative;
    text-align: center;
    color: white
}

.designations{
    text-align: center; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 1.5vw;
}

.about{
    
}

@media screen and (max-width: 1300px) and (min-width: 600px) {
    .normal-text-header{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 18px;
    }

    .current-pos{
        font-size: 14px;
    }
    
    .normal-text{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 16px;
        text-align: left;
    }

    .publication-elements{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 17px;
        padding-left: 5px;
        text-align: justify;
        text-justify: inter-word;
    }
}

@media screen and (max-width: 600px) {
    .normal-text-header{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 12px;
    }
    
    .current-pos{
        font-size: 10px;
    }

    .normal-text{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 13px;
        text-align: left;
    }

    .publication-elements{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 15px;
        padding-left: 5px;
        text-align: justify;
        text-justify: inter-word;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    width: 30%; height: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.popup:target {
    display: flex;
}

.pop-header{
    font-size: 15px;
}

.pop-p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.popup-content {
    width: 60%; height: auto;
}

.about-the-group{
    text-align: center; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 36px;
}

.about-the-group-det{
    text-align: justify; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 24px;
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
    .popup-content {
        width: 50%;
    }

    .pop-header{
        font-size: 17px;
    }
    
    .pop-p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1700px) {
    .popup-content {
        width: 35%;
    }

    .pop-header{
        font-size: 19px;
    }
    
    .pop-p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2500px) {
    .popup-content {
        width: 30%;
    }

    .pop-header{
        font-size: 21px;
    }
    
    .pop-p {
        font-size: 20px;
    }
}

@media screen and (min-width: 2500px) {
    .popup-content {
        width: 20%;
    }

    .pop-header{
        font-size: 24px;
    }
    
    .pop-p {
        font-size: 23px;
    }
}

@media screen and (min-width: 988px) and (max-width: 1140px) {
    .about-the-group{
        text-align: center; 
        font-family: 'Times New Roman', Times, serif; 
        font-size: 2.4vw;
    }
    
    .about-the-group-det{
        text-align: justify; 
        font-family: 'Times New Roman', Times, serif; 
        font-size: 1.6vw;
    }
}

@media screen and (min-width: 550px) and (max-width: 988px) {
    .about-the-group{
        text-align: center; 
        font-family: 'Times New Roman', Times, serif; 
        font-size: 24px;
    }
    
    .about-the-group-det{
        text-align: justify; 
        font-family: 'Times New Roman', Times, serif; 
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .about-the-group{
        text-align: center; 
        font-family: 'Times New Roman', Times, serif; 
        font-size: 24px;
    }
    
    .about-the-group-det{
        text-align: justify; 
        font-family: 'Times New Roman', Times, serif; 
        font-size: 18px;
    }
}

.lab-members-photo {
    width: 500px;
    height: auto;
    float: left; 
    margin-right: 20px;
}


@media screen and (max-width: 1140px) {
    .lab-members-photo {
        width: 400px;
    }
}

@media screen and (max-width: 970px) {
    .lab-members-photo {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .research-boxes {
        max-width: 32%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 25px;
        margin-bottom: 25px;
        box-shadow: 10px 10px 5px lightgrey;
    }
}

@media screen and (min-width: 1000px) {
    .research-boxes {
        max-width: 19%;
        margin-left: 3.2%;
        margin-right: 3.2%;
        margin-top: 25px;
        margin-bottom: 25px;
        box-shadow: 10px 10px 5px lightgrey;
    }
}